.listview__item {
  padding: 3px 2.2rem;
}

h3 {
  margin: 0;
}


a.selected {
  background-color: rgb(172, 255, 172);
}

.listview:not(.listview--inverse).listview--hover a.selected:hover.listview__item:hover {
  background-color: rgb(152, 224, 152);
}

.regionHeading.selected > h5 {
  color: rgb(0, 117, 0);
}

.regionHeading:hover {
  background-color: #f8f9fa;
}

.regionHeading.selected:hover {
  background-color: rgb(152, 224, 152);
}
