<div class="card">
  <div class="card-body">
    <h4 class="card-title">User Information</h4>
    <div class="row">
      <div class="col-sm-12">
        <ng-container *ngIf="userData">
            <form (ngSubmit)="updateUserForm.valid && updateUser(updateUserForm)" novalidate #updateUserForm="ngForm">
              <div class="input-group">
                <span class="input-group-addon" style="width: 150px"><i class="zmdi zmdi-hc-lg zmdi-account"></i>&nbsp;&nbsp;Name</span>
                <div class="form-group">
                  <input [ngModel]="userData.user.name" #updateUserName="ngModel"
                  [ngClass]="{'is-invalid': (updateUserName.touched || updateUserForm.submitted) && !updateUserName.valid, 'is-valid': updateUserName.touched && updateUserName.valid}"
                  [readonly]="loading || !admin" id="updateUserName" name="updateUserName"
                  type="text" required minlength="2" class="form-control" [placeholder]="'User Full Name'">
                  <i class="form-group__bar"></i>
                </div>
                <div *ngIf="!updateUserForm.valid && (updateUserForm.submitted || updateUserName.touched)">
                    <span *ngFor="let error of system.getPrettyErrors(updateUserName.errors)" style="margin: 2px;" class="badge badge-danger">{{ error }}</span>
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon" style="width: 150px"><i class="zmdi zmdi-hc-lg zmdi-email"></i>&nbsp;&nbsp;Email</span>
                <div class="form-group">
                  <input [ngModel]="userData.user.email" #updateUserEmail="ngModel"
                  [ngClass]="{'is-invalid': (updateUserEmail.touched || updateUserForm.submitted) && !updateUserEmail.valid, 'is-valid': updateUserEmail.valid && updateUserEmail.touched}"
                  [readonly]="loading" id="updateUserEmail" name="updateUserEmail"
                  type="text" required email class="form-control" [placeholder]="'User Email'">
                  <i class="form-group__bar"></i>
                </div>
                <div *ngIf="!updateUserForm.valid && (updateUserForm.submitted || updateUserEmail.touched)">
                    <span *ngFor="let error of system.getPrettyErrors(updateUserEmail.errors)" style="margin: 2px;" class="badge badge-danger">{{ error }}</span>
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon" style="width: 150px"><i class="zmdi zmdi-hc-lg zmdi-lock"></i>&nbsp;&nbsp;New Password</span>
                <div class="form-group">
                  <input ngModel #updateUserPasswordNew="ngModel"
                  [ngClass]="{'is-invalid': (updateUserPasswordNew.touched || updateUserForm.submitted) && !updateUserPasswordNew.valid, 'is-valid': updateUserPasswordNew.valid && updateUserPasswordNew.touched}"
                  [readonly]="loading" id="updateUserPasswordNew" name="updateUserPasswordNew" [placeholder]="'New Password'"
                  type="password" minlength="6" class="form-control">
                  <i class="form-group__bar"></i>
                </div>
                <div *ngIf="!updateUserForm.valid && (updateUserForm.submitted || updateUserPasswordNew.touched)">
                    <span *ngFor="let error of system.getPrettyErrors(updateUserPasswordNew.errors)" style="margin: 2px;" class="badge badge-danger">{{ error }}</span>
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon" style="width: 150px"><i class="zmdi zmdi-hc-lg zmdi-shield-check"></i>&nbsp;&nbsp;Repeat Password</span>
                <div class="form-group">
                  <input ngModel #updateUserPasswordRepeat="ngModel"
                  [ngClass]="{'is-invalid': (updateUserPasswordRepeat.touched || updateUserForm.submitted) && (!updateUserPasswordRepeat.valid || !(updateUserPasswordNew.value === updateUserPasswordRepeat.value)), 'is-valid': updateUserPasswordRepeat.valid && updateUserPasswordRepeat.touched && (updateUserPasswordNew.value === updateUserPasswordRepeat.value)}"
                  [readonly]="loading" id="updateUserPasswordRepeat" name="updateUserPasswordRepeat" [placeholder]="'Repeat Password'"
                  type="password" minlength="6" class="form-control">
                  <i class="form-group__bar"></i>
                </div>
                <div *ngIf="!updateUserForm.valid && (updateUserForm.submitted || updateUserPasswordRepeat.touched)">
                    <span *ngFor="let error of system.getPrettyErrors(updateUserPasswordRepeat.errors)" style="margin: 2px;" class="badge badge-danger">{{ error }}</span>
                </div>
              </div>
              <br>
              <div class="input-group" *ngIf="!admin || userData.user.id == sharedService.user.id">
                <span class="input-group-addon" style="width: 150px"><i class="zmdi zmdi-hc-lg zmdi-lock-open"></i>&nbsp;&nbsp;Current Password</span>
                <div class="form-group">
                  <input ngModel #updateUserPasswordOld="ngModel"
                  [ngClass]="{'is-invalid': (updateUserPasswordOld.touched || updateUserForm.submitted) && !updateUserPasswordOld.valid, 'is-valid': updateUserPasswordOld.valid && updateUserPasswordOld.touched}"
                  [readonly]="loading" id="updateUserPasswordOld" name="updateUserPasswordOld" [placeholder]="'Current Password (Required for all changes)'"
                  type="password" required class="form-control">
                  <i class="form-group__bar"></i>
                </div>
                <div *ngIf="!updateUserForm.valid && (updateUserForm.submitted || updateUserPasswordOld.touched)">
                    <span *ngFor="let error of system.getPrettyErrors(updateUserPasswordOld.errors)" style="margin: 2px;" class="badge badge-danger">{{ error }}</span>
                </div>
              </div>
              <br>
              <button *ngIf="updateUserForm.touched" [disabled]="updateUserForm.invalid || loading || !(updateUserPasswordNew.value === updateUserPasswordRepeat.value)" type="submit" class="btn btn-primary">Update Information</button> <i *ngIf="loading" class="zmdi zmdi-hc-lg zmdi-spinner"></i>
              <span *ngFor="let error of serverErrors" style="margin: 2px;" class="badge badge-danger">{{ error }}</span>
            </form>
            <br>
            <h4>Public Work Portfolio Link: {{ userData.user.publicUrl }}</h4>
            <h4>Account Created: {{ userData.user.created | amLocal | amDateFormat:'MMMM Do YYYY, h:mm:ss a' }} ({{ sharedService.capitalize(userData.user.created | amLocal | amTimeAgo)  }})</h4>
        </ng-container>
        <ng-container *ngIf="!userData">
          <h6>Loading User Data...  <i class="zmdi zmdi-hc-lg zmdi-spinner"></i></h6>
        </ng-container>
      </div>
    </div>
  </div>
</div>
