<main class="main">
    <app-header></app-header>

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3"><strong>S</strong>tudents <strong>T</strong>racking <strong>U</strong>seful <strong>D</strong>ata</h1>
        <p>A system for tracking work on refurbished computers within the StRUT program.</p>
        <p><a class="btn btn-primary btn-lg" href="javascript:;" role="button">Learn more »</a></p>
      </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Track Work</h2>
            <p>All work on refurbished systems is tracked to better organize and maintain an idea of what is available for donation and the work being done overall.</p>
            <p><a class="btn btn-secondary" href="javascript:;" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <h2>See Progress</h2>
            <p>Progress is charted to show improvement, compare with past work, and create future goals.</p>
            <p><a class="btn btn-secondary" href="javascript:;" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <h2>Share Your Experience</h2>
            <p>Students can share their work experience within the program with future employers, through a public link to their past work.</p>
            <p><a class="btn btn-secondary" href="javascript:;" role="button">View details »</a></p>
          </div>
        </div>

        <hr>

        <footer>
          <p>Donated by Daniel Eck, 2017</p>
        </footer>
      </div>
</main>
